WcfService/Connected Services/ServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStudentType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StudentType" nillable="true" type="tns:StudentType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudentType" nillable="true" type="tns:ArrayOfStudentType" />
  <xs:complexType name="StudentType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Course" type="xs:int" />
      <xs:element minOccurs="0" name="FIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Level" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StudentIdCard" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudentType" nillable="true" type="tns:StudentType" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>