WpfClient/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMusic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Music" nillable="true" type="tns:Music" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMusic" nillable="true" type="tns:ArrayOfMusic" />
  <xs:complexType name="Music">
    <xs:sequence>
      <xs:element minOccurs="0" name="ALBOM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUTHOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YEAR" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Music" nillable="true" type="tns:Music" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>